.about{
	@include clearfix;
}

.about-icon{
	width: 125px;
	height: 125px;
 	float: left;
	margin-right: 30px;

	text-align: center;
	line-height: 110px;

	border: 2px solid $color;
	border-radius: 125px;
}

.about-alert{
	font-size: 20px;
	color:#e74c3c;
	line-height: 28px;
}

.about-text{
	width: 565px;
	float: left;
	padding-right: 30px;
}

.about-picture{
	width: 450px;
	float: left;
}

.about-2{
	.about-picture{
		width: 610px;
		float: left;
	}

	.about-text{
		width: 560px;
		float: right;
	}

}