.btn{
	display: inline-block;
	padding: 0 40px;
	background-color: transparen;
	background-color: rgba($color,0);
	border: 2px solid $color;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	@include transition-duration ;
	&:hover{
		background-color: $color;
		border-color: $color;
		color: #FFF;
	}
}
