.contact-form{
    float: left;
    width: 640px;
}

.contact-info{
    float: right;
    width: 495px;
}

.contact-list{
    margin: 0;
    padding: 0;
    color: #0d0d0d;
    li{
        list-style: none;
        margin: 0;
        padding: 0;
        i:first-child {
            color: $color;
        }
    }
}
