.section{
	padding: 85px 0;
	background-color: #fff;
	position: relative;
	&:before, &:after{
		content: '';
		display: block;
		background-color: #FFF;
		position: absolute;
		top:0; left: 0; right: 0; bottom:0;
		z-index: 4;

		@include transform-origin(0,0);
		@include transform(skewY(-2deg));
	}
	&:after{
		background-color: #fff;
		@include transform-origin(100%,0);
	}
}

.section-title{
	margin-bottom: 140px;
	@include clearfix;
	text-transform: uppercase;
	h1{
		float: left;
		width: 180px;
		margin: 6px 0 0 0;
		padding: 0 20px 0 0;

		text-align: right;
		color: #000;
		line-height: 45px;
		
		border-right: 4px solid $color;
	}
	p{
		float: right;
		width: 950px;
		margin: 0;
	}
}

.background{
	padding: 200px 0;

	text-align: center;
	color: #fff;

	background: url(img/bg1.jpg) center top fixed;
	@include background-size(cover);
}