.owl-carousel{
	position: relative;
	text-align: center;
	h2{
		margin-top: 70px;
	}
}

.owl-nav{
	position: absolute;
	top: 520px;
	right: 517px;
	div{
		display: inline-block;
		border: 4px solid #e6e6e6;
		height: 35px;
		width: 35px;
		margin: 5px;
		color: #000;
	}
}

ul.genres{
	list-style:none;
	margin: 0;
	color:#000;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: bold;

	li{
		display: inline-block;
		padding-top: 50px;
		&:before{
			content:'\\\\';
			color: #a6a6a6;
			display: inline-block;
			padding: 0 10px;
		}
		&:first-child:before{ display: none; }
	}

	a:active, a:hover{
		color: $color;
	}
}

.projet{
	text-align: center;
    display: inline-block;
	margin-bottom: 20px;
}
